In [7]:
import pandas as pd

In [8]:
pd.__version__

'2.2.2'

In [9]:
df = pd.read_csv('yellow_tripdata_2024-01.csv', nrows=100)

In [10]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.00,1.0,22.70,2.5,0.00
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.00,1.0,18.75,2.5,0.00
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.00,1.0,31.30,2.5,0.00
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.00,1.0,17.00,2.5,0.00
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.00,1.0,16.10,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2024-01-01 00:54:16,2024-01-01 01:27:40,1.0,13.74,1.0,N,239,95,1,56.9,1.0,0.5,13.77,6.94,1.0,82.61,2.5,0.00
96,2,2024-01-01 00:13:58,2024-01-01 00:33:39,1.0,4.20,1.0,N,148,237,1,21.9,1.0,0.5,5.38,0.00,1.0,32.28,2.5,0.00
97,2,2024-01-01 00:35:53,2024-01-01 00:47:59,1.0,1.14,1.0,N,237,233,1,11.4,1.0,0.5,3.28,0.00,1.0,19.68,2.5,0.00
98,2,2024-01-01 00:50:28,2024-01-01 01:38:39,1.0,20.34,1.0,N,132,26,1,80.0,1.0,0.5,2.00,0.00,1.0,86.25,0.0,1.75
99,2,2024-01-01 00:18:24,2024-01-01 00:30:39,1.0,2.16,1.0,N,249,232,4,-13.5,-1.0,-0.5,0.00,0.00,-1.0,-18.50,-2.5,0.00

In [11]:
from sqlalchemy import create_engine

In [12]:
import psycopg2
print("psycopg2 installed successfully!")

psycopg2 installed successfully!

In [13]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [14]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [15]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000)

In [16]:
df = next(df_iter)

In [17]:
len(df)

100000

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [19]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.00,0.0,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.0,3.5,0.5,3.75,0.0,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.3,3.5,0.5,3.00,0.0,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.0,3.5,0.5,2.00,0.0,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.9,3.5,0.5,3.20,0.0,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2024-01-02 13:34:18,2024-01-02 13:38:13,1.0,0.70,1.0,N,263,75,1,5.8,2.5,0.5,2.00,0.0,1.0,11.80,2.5,0.0
99996,1,2024-01-02 13:47:42,2024-01-02 13:59:26,1.0,1.70,1.0,N,236,238,1,11.4,2.5,0.5,4.60,0.0,1.0,20.00,2.5,0.0
99997,2,2024-01-02 13:23:51,2024-01-02 13:36:29,1.0,1.87,1.0,N,236,162,1,12.8,0.0,0.5,3.36,0.0,1.0,20.16,2.5,0.0
99998,2,2024-01-02 13:42:04,2024-01-02 13:48:39,1.0,1.58,1.0,N,229,263,2,9.3,0.0,0.5,0.00,0.0,1.0,13.30,2.5,0.0
99999,2,2024-01-02 13:54:12,2024-01-02 13:57:25,1.0,0.64,1.0,N,236,263,2,-5.8,0.0,-0.5,0.00,0.0,-1.0,-9.80,-2.5,0.0

In [20]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [21]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 4.13 s, sys: 90.5 ms, total: 4.23 s
Wall time: 6.5 s

1000

In [22]:
from time import time

In [23]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000, low_memory=False)

while True:
    try:
        t_start = time()
        df = next(df_iter)
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
        t_end = time()
        print('Inserted another chunk..., took %.3f seconds' % (t_end - t_start))

    except StopIteration:
        print("All chunks processed. Exiting loop.")
        break

Inserted another chunk..., took 6.542 seconds
Inserted another chunk..., took 6.404 seconds
Inserted another chunk..., took 6.461 seconds
Inserted another chunk..., took 6.368 seconds
Inserted another chunk..., took 6.441 seconds
Inserted another chunk..., took 6.406 seconds
Inserted another chunk..., took 6.495 seconds
Inserted another chunk..., took 6.520 seconds
Inserted another chunk..., took 6.536 seconds
Inserted another chunk..., took 6.472 seconds
Inserted another chunk..., took 6.420 seconds
Inserted another chunk..., took 6.398 seconds
Inserted another chunk..., took 6.500 seconds
Inserted another chunk..., took 6.450 seconds
Inserted another chunk..., took 6.449 seconds
Inserted another chunk..., took 6.443 seconds
Inserted another chunk..., took 6.419 seconds
Inserted another chunk..., took 6.450 seconds
Inserted another chunk..., took 6.451 seconds
Inserted another chunk..., took 6.413 seconds
Inserted another chunk..., took 6.511 seconds
Inserted another chunk..., took 6.544 seconds
Inserted another chunk..., took 6.436 seconds
Inserted another chunk..., took 6.481 seconds
Inserted another chunk..., took 6.562 seconds
Inserted another chunk..., took 6.376 seconds
Inserted another chunk..., took 6.452 seconds
Inserted another chunk..., took 6.334 seconds
Inserted another chunk..., took 5.865 seconds
Inserted another chunk..., took 3.729 seconds
All chunks processed. Exiting loop.

In [24]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('inserted amother chunck..., took %.3f second' % (t_end - t_start))

StopIteration:

In [3]:
!wget https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv

--2025-02-03 22:20:58--  https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:26cc:3e00:b:20a5:b140:21, 2600:9000:26cc:4e00:b:20a5:b140:21, 2600:9000:26cc:8400:b:20a5:b140:21, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:26cc:3e00:b:20a5:b140:21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12331 (12K) [text/csv]
Saving to: â€˜taxi_zone_lookup.csvâ€™

taxi_zone_lookup.cs 100%[===================>]  12.04K  --.-KB/s    in 0s

2025-02-03 22:20:59 (74.0 MB/s) - â€˜taxi_zone_lookup.csvâ€™ saved [12331/12331]

In [28]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')

In [29]:
print(df_zones.head())

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [30]:
df_zones.to_sql(name='zones', con=engine, if_exists='replace')

265